<div class="container">
  <div class="well">
    <h1>API Documentation</h1>
    <%= link_to "Back to applications", api_accounts_dashboard_path %>

    <h2>OAuth 2.0 Handshake</h2>
    <div class="well">
      <p>
        Acquire A Hire uses the OAuth 2.0 protocol to receive a token for API requests.
        <ol>

          <li>Register your application on Acquire A Hire. You will receive an API key and secret.</li>
          <li>To authorize a user, have them make a GET request to '/api/oauth/authorize' with the parameters:</li>
          <ul>
            <li><b>api_key</b> (The key you received in step 1)</li>
            <li><b>redirect_url</b> (The url that you would like OAuth authorizations to redirect to)</li>
          </ul>
          <li>The user will then be directed to a page where they can fill in an email and password that are associated with Acquire A Hire.</li>
          <li>If they successfully login, they will be able to click a button to authorize your application to access their Acquire A Hire account.</li>
          <li>Following this, the user will be directed to the redirect path you specified earlier, with their OAuth access code as a parameter.</li>
          <li>Once a user has gone through these steps to be authorized, you may make a GET request to 'api/v1/oauth/token' with the parameters:</li>
          <ul>
            <li><b>api_key</b> (the API key for your application)</li>
            <li><b>secret</b> (the secret for your application)</li>
            <li><b>code</b> (the code that was given to a user upon authorizing the app)</li>
            <li><b>redirect_url</b> (the URL to redirect to)</li>
          </ul>
          <li>If successful, this request will return a 201 response with an access token. Otherwise, it will return a 403 response.</li>

        </ol>
      </p>

    </div>
    <h2>API Endpoints</h2>
    <div class="well">
      <p>
        <ul>
            <li>To send a message, make a POST request to `/api/v1/jobs/:job_id/message.json` with the parameters:</li>
              <ul>
                <li><b>body</b></li>
                <li><b>subject</b></li>
                <li><b>token</b></li>
                <li><b>recipient_id</b></li>
              </ul>
            <li>To see all messages for a user, make a GET request to `/api/v1/jobs/:job_id/messages.json` with the parameter:</li>
              <ul>
                <li><b>token</b></li>
              </ul>
            <li>If this is successful, you will receive a response with a status of 200 and an array of all messages for that user regarding that job.</li>
        </ul>
      </p>

    </div>
  </div>
</div>
