<div class="container">
  <div class="well">
    <table class="table table-striped">
      <tr>
        <th>
          Project Name
        </th>
        <th>
          Sender Name
        </th>
      </tr>
      <% @conversations.each do |conversation| %>
      <tr>
        <td>
          <%= link_to "#{conversation.job.title}", messages_path(job: conversation.job.id, with: conversation.with.id) %>
        </td>
        <td>
          <%= link_to "#{conversation.with.display_name}", messages_path(job: conversation.job.id, with: conversation.with.id) %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
