<h1>Acquire A Hire</h1>
<div class='requester'>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", new_requester_path %>
</div>

<div class='professional'>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", new_professional_path %>
</div>
