<p>Thank you for your request</p>

<p>Your API Key is: <%= @user_api.key %></p>
<p>Your secret is: <%= @user_api.secret %></p>
<p>Be sure to write down this key.  You must have this in order to use our API</p>
