<h1><%= @user.first_name + @user.last_name %></h1>
<h2><%= @user.business_name %></h2>
<p>
  <%= @user.street_address %>
</p>
<h3>Skills Offered</h3>
<ul>
  <% @user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>
