//dark blue
$primary-color: #2D6998;
//medium blue
$secondary-color: #50A8E1;
//light blue
$accent-color1: #6EC8F8;
//grey
$accent-color2: #E4E4E4;
// red
$accent-color3: #c53620;

.jumbotron {
  background-color: $accent-color2;
}

blockquote {
  border-left: 10px solid;
  border-color: $accent-color3;
}

.btn-acquire {
  background-color: $accent-color3;
  color: white;
}

body {
  background-image: image-url('brickwall_@2X.png');
  background-repeat:repeat;
}
