//dark blue
$primary-color: #2b4450;
//medium blue
$secondary-color: #497285;
//grey
$accent-color2: #dfebed;
// red
$accent-color3: #f78536;

.jumbotron {
  background-color: $accent-color2;
}

blockquote {
  border-left: 10px solid;
  border-color: $accent-color3;
}

.btn-acquire {
  background-color: $accent-color3;
  color: white;
}

.btn-acquire-secondary {
  background-color: $primary-color;
  color: white;
}

.container {
  background-color: $primary-color;
  border-radius: 10px;
  padding: 10px;
}

body {
  background-image: image-url('brickwall_@2X.png');
  background-repeat:repeat;
}
