//dark blue
$primary-color: #2b4450;
//medium blue
$secondary-color: #497285;
//grey
$accent-color2: #dfebed;
// red
$accent-color3: #f78536;

.jumbotron {
  background-image: image-url('shaved_wood.jpg');
  background-size: cover;
  background-position: 0 30%;
  height: 25%;
  color: white;
}

blockquote {
  border-left: 10px solid;
  border-color: $accent-color3;
}

.alert {
  text-align: center;
  margin-bottom: 0;
}

.btn-acquire {
  background-color: $accent-color3;
  color: white;
}

.btn-acquire-secondary {
  background-color: $primary-color;
  color: white;
}

.container {
  background-color: $primary-color;
  border-radius: 10px;
  padding: 10px;
}

.navbar-default {
  margin-bottom: 0;
}

.tagline {
  opacity: 0.75;
  width: 50%
}

body {
  background-image: image-url('brickwall_@2X.png');
  background-repeat:repeat;
}
